# Example SealBoard configuration
hosts:
  - name: "localhost"
    address: "localhost"
    socket_path: "/run/user/${UID}/podman/podman.sock"
#  - name: "remote1"
#    address: "your.remote.host"
#    user: "youruser"
#    private_key_path: "$HOME/.ssh/id_rsa"
#    remote_socket_path: "/run/user/${UID}/podman/podman.sock"
#    local_socket_path: "/tmp/sealboard-remote1.sock"

